img {
  max-width: 100%;
  height: auto;
}

.btn {
  background: #003cd3;
  color: #fff;
  padding: 14px 20px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  float: right;
  height: 40px;
  width: 100px;
}
.btn1 {
  background: #003cd3;
  color: #fff;
  padding: 18px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  float: right;
  height: 48px;
}

.btn-2 {
  background: #003cd3;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 20px 40px;
}

.btn-2 svg {
  margin-left: 15px;
  transition: 0.3s;
}
.btn-2:hover svg {
  margin-left: 25px;
}
a {
  text-decoration: none;
}
