@media only screen and (max-width: 1700px) {
}
@media only screen and (max-width: 1400px) {
  .main {
    padding: 0 100px;
  }
  .navbar .nav-items {
    display: none;
  }
  .navbar .show {
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    text-align: center;
    padding-top: 50px;
  }
  .navbar .show ul {
    display: block;
    top: 100px;
  }
  .navbar .show ul li {
    padding: 20px;
  }
  .navbar .show ul li a {
    color: #fff;
  }
  .register-btn {
    position: absolute;
    right: 40px;
  }
  .header-body .header-body-left h1 {
    font-size: 58px;
    line-height: 70px;
  }
  .core-feature {
    padding: 40px !important;
    margin: 0;
  }
  .sales-growth .sales-growth-in {
    padding: 100px;
  }
  .plan .plan-mid .plan-mid-one .plan-budget {
    font-size: 55px;
  }
  .plan .plan-mid .plan-mid-two .plan-budget {
    font-size: 55px;
  }
  .plan .plan-mid .plan-mid-three .plan-budget {
    font-size: 55px;
  }
  .plan .auto-renewal {
    font-size: 12px;
  }
  .recent-news {
    padding: 0 40px;
  }
  .customer-reviews {
    padding: 90px 100px;
  }
  .customers .customers-top {
    padding: 100px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .create-account {
    margin: 0;
  }
  .footer .footer-top {
    padding: 100px;
  }
  .footer .footer-bottom {
    padding: 40px 100px;
    grid-column-gap: 0;
  }
  .footer .footer-divider img {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .vertical-line {
    display: none;
  }
  .main {
    padding: 0 100px;
  }

  .header-body {
    grid-template-columns: 1fr;
  }
  .header-body .header-body-left h1 {
    font-size: 40px;
    margin-top: 16px;
    line-height: 45px;
  }
  .header-body .header-body-left h6 {
    margin-top: 30px;
  }
  .header-body .header-body-left p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 25px;
  }
  .header-body .header-body-left .email-input input {
    max-width: 250px;
  }
  .header-body .header-body-left .email-input {
    display: grid;
    padding-right: 20px;
  }
  .email-input-btn {
    font-size: 10px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
  }

  .processes {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .sales-growth {
    margin-top: 0;
  }
  .sales-growth .sales-growth-in {
    grid-template-columns: 1fr;
    padding: 40px 100px;
  }
  .sales-growth .sales-growth-in .sales-growth-left .sales-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    svg {
      width: 15px;
      height: 8px;
    }
  }
  .sales-growth-right {
    margin-top: 30px;
  }
  .marketing {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-black {
    max-width: 120px;
  }
  .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-v {
    max-width: 40px;
  }
  .core-feature-section {
    padding: 0;
  }
  .core-feature {
    grid-template-columns: 1fr;
    padding: 40px 100px;
    margin: 40px 0;
  }
  .expenses-top,
  .expenses-bottom,
  .savings-top,
  .savings-bottom,
  .investments-top,
  .investments-bottom {
    margin-top: 70px !important;
  }
  .core-feature .savings,
  .core-feature .investments {
    margin-left: 0;
  }

  .plan .plan-top {
    padding: 30px;
  }
  .plan .plan-mid {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .plan .auto-renewal {
    position: relative;
    margin-top: 20px;
    line-height: 22px;
  }
  .plan .auto-renewal-font {
    color: #ffffff;
  }
  .plan .plan-mid .plan-mid-three .plan-budget {
    font-size: 50px;
  }
  .plan .plan-mid .plan-mid-two .plan-budget {
    font-size: 50px;
  }

  .plan .plan-mid .plan-mid-one .plan-budget {
    font-size: 50px;
  }

  .plan .plan-mid .plan-mid-one .plan-btn {
    padding: 0 10px;
    font-size: 10px;
    svg {
      width: 15px;
      height: 8px;
    }
  }
  .plan .plan-mid .plan-mid-two .plan-btn2 {
    padding: 0 10px;
    font-size: 10px;
    svg {
      width: 15px;
      height: 8px;
    }
  }
  .plan .plan-mid .plan-mid-three .plan-btn3 {
    padding: 0 10px;
    font-size: 10px;
    svg {
      width: 15px;
      height: 8px;
    }
  }
  .plan .plan-bottom {
    padding: 40px;
  }

  .recent-news {
    padding: 0;
    margin-top: 0;
    height: 100%;
  }
  .recent-news .recent-news-bottom .recent-news-bottom-card {
    height: 100%;
    max-width: 100%;
  }
  .recent-news
    .recent-news-bottom
    .recent-news-bottom-card
    .recent-news-bottom-card-in {
    padding: 40px 100px;
  }
  .recent-news .recent-news-bottom {
    grid-template-columns: 1fr;
    margin-top: 42px;
    grid-gap: 10px;
  }
  .customer-reviews .customer-name {
    text-align: center;
  }
  .customer-reviews {
    padding: 40px;
  }
  .customer-reviews .reviews-cata {
    flex-direction: column;
  }
  .customer-reviews .reviews-cata p {
    margin-left: 0;
  }

  .customers .customers-top {
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
  .create-account {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 40px 100px;
  }
  .create-account .create-account-left .acc-descrip {
    font-size: 14px;
    line-height: 20px;
  }
  .create-account .create-account-left .acc-btn {
    padding: 10px;
    margin-top: 15px;
    font-size: 12px;
    svg {
      width: 15px;
      height: 8px;
    }
  }
  .footer .footer-bottom {
    padding: 40px 100px;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .footer .footer-top {
    padding: 40px 100px;
    grid-template-columns: 1fr;
  }
  .footer {
    height: 100%;
  }
  .footer-bottom-right {
    padding: 5% 0;
  }
  .footer .footer-top .footer-top-social p {
    margin: 5px 0 0 0;
  }
  .progress-img {
    grid-template-columns: 1fr;
  }

  .footer {
    height: 100%;
  }
  .footer .footer-divider img {
    width: 100%;
    margin-left: 0;
  }
  .footer-top-subscription .subscription-input {
    max-width: 250px;
  }
  .footer-top-subscription .subscription-input input {
    font-size: 10px;
  }
  .footer-top-subscription .subscription-input a {
    padding: 18px 0px 0 0;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    padding: 0 40px;
  }
  .footer .footer-bottom {
    padding: 40px;
  }
  .footer .footer-top {
    padding: 40px;
  }
  .sales-growth .sales-growth-in {
    padding: 40px;
  }
  .create-account {
    padding: 40px;
  }
  .core-feature {
    padding: 40px;
  }
  .recent-news
    .recent-news-bottom
    .recent-news-bottom-card
    .recent-news-bottom-card-in {
    padding: 40px;
  }
  .header-body .header-body-left h1 {
    line-height: 36px;
  }
  .sales-growth .sales-growth-in {
    grid-template-columns: 1fr;
  }
  .core-feature {
    grid-template-columns: 1fr;
    margin: 40px 0;
  }
  .plan {
    padding: 0 !important;
  }
  .register a {
    font-size: 12px;
  }
  .btn {
    height: 34px;
    width: 86px;
  }

  h1 {
    font-size: 36px !important;
  }
  h3,
  h4 {
    font-size: 20px !important;
  }
  p {
    font-size: 14px !important;
  }
  .processes {
    padding: 0 !important;
  }
  .leads h3 {
    font-size: 40px !important;
  }

  .customer-reviews {
    text-align: left;
  }
  .customer-reviews .customer-name {
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  .navbar .logo .logoicon {
    margin-left: 16px;
  }
  .navbar .logo .hamburger {
    margin-bottom: 0;
    height: 6px;
  }
  .footer .footer-bottom {
    padding: 40px;
  }
  .footer .footer-top {
    padding: 40px;
  }
  .sales-growth .sales-growth-in {
    padding: 40px;
  }
  .create-account {
    padding: 40px;
  }
  .core-feature {
    padding: 40px;
  }
  .recent-news
    .recent-news-bottom
    .recent-news-bottom-card
    .recent-news-bottom-card-in {
    padding: 40px;
  }
}
@media only screen and (max-width: 320px) {
}
