* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main {
  padding: 0 212px; }

ul li {
  list-style: none; }

h1 {
  font-family: Playfair_Display;
  font-style: normal;
  font-weight: 900;
  line-height: 102%;
  letter-spacing: -0.02em; }

h6,
p,
a {
  font-family: Basier-Circle;
  letter-spacing: -0.01em; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  background: #003cd3;
  color: #fff;
  padding: 14px 20px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  float: right;
  height: 40px;
  width: 100px; }

.btn1 {
  background: #003cd3;
  color: #fff;
  padding: 18px;
  font-family: SpaceGrotesk;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  float: right;
  height: 48px; }

.btn-2 {
  background: #003cd3;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 20px 40px; }

.btn-2 svg {
  margin-left: 15px;
  transition: 0.3s; }

.btn-2:hover svg {
  margin-left: 25px; }

a {
  text-decoration: none; }

@font-face {
  font-family: SpaceGrotesk;
  src: url(./../../fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Basier-Circle;
  src: url(./../../fonts/basier-cufonfonts-webfont/BasierCircle-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Playfair_Display;
  src: url(./../../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
  font-weight: 500; }
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 43px 40px; }
  .navbar .logo {
    display: flex; }
    .navbar .logo .hamburger {
      height: 10px;
      margin-top: 15px; }
    .navbar .logo .logoicon {
      margin-left: 34px; }
  .navbar .nav-items ul {
    display: flex;
    margin-top: 16px; }
    .navbar .nav-items ul li a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      padding: 20px;
      font-family: Basier-Circle; }

.header-body {
  display: grid;
  grid-template-columns: 1fr 1.5fr; }
  .header-body .header-body-left h6 {
    font-size: 16.8px;
    color: #283742;
    margin-top: 130px; }
  .header-body .header-body-left h1 {
    font-size: 72px;
    color: #283742;
    font-family: SpaceGrotesk;
    margin-top: 40px;
    line-height: 82px; }
  .header-body .header-body-left p {
    font-size: 18px;
    margin: 40px 0;
    line-height: 30px; }
  .header-body .header-body-left .email-input {
    display: flex; }
    .header-body .header-body-left .email-input input {
      background: rgba(17, 17, 17, 0.08);
      opacity: 0.6;
      border-radius: 2px;
      padding: 10px; }
  .header-body .header-body-left .signin {
    margin: 15px 0;
    color: #283742;
    opacity: 0.75; }
    .header-body .header-body-left .signin span {
      opacity: 1;
      color: black;
      cursor: pointer; }
  .header-body .header-body-right img {
    max-width: 90%; }

.processes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 100px; }
  .processes .processes-left {
    padding: 40px;
    background: #f5f7fd; }
    .processes .processes-left h3 {
      font-family: SpaceGrotesk;
      font-size: 26px;
      line-height: 32px;
      color: #283742;
      margin: 20px 0; }
    .processes .processes-left p {
      font-size: 16px; }
  .processes .processes-mid {
    padding: 40px; }
    .processes .processes-mid h3 {
      font-family: SpaceGrotesk;
      font-size: 26px;
      line-height: 32px;
      color: #283742;
      margin: 20px 0; }
    .processes .processes-mid p {
      font-size: 16px; }
  .processes .processes-right {
    padding: 40px; }
    .processes .processes-right h3 {
      font-family: SpaceGrotesk;
      font-size: 26px;
      line-height: 32px;
      color: #283742;
      margin: 20px 0; }
    .processes .processes-right p {
      font-size: 16px; }

.sales-growth {
  background: #f5f7fd;
  margin-top: 100px; }
  .sales-growth .sales-growth-in {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 121px 212px; }
    .sales-growth .sales-growth-in .sales-growth-left p {
      font-size: 14px;
      text-transform: uppercase;
      color: #fc2121;
      opacity: 0.75; }
    .sales-growth .sales-growth-in .sales-growth-left h1 {
      font-size: 40px;
      color: #283742;
      margin: 15px 0 40px 0;
      font-family: SpaceGrotesk;
      line-height: 50px; }
    .sales-growth .sales-growth-in .sales-growth-left h6 {
      color: #283742;
      font-size: 16.8px; }
    .sales-growth .sales-growth-in .sales-growth-left .stage-api {
      font-size: 16px;
      color: #283742;
      margin: 22px 0;
      text-transform: none; }
      .sales-growth .sales-growth-in .sales-growth-left .stage-api span {
        color: #000;
        font-weight: bold; }
    .sales-growth .sales-growth-in .sales-growth-left .sales-btn {
      margin-top: 42px; }

.marketing {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 76px;
  margin: 90px 0; }
  .marketing .marketing-right {
    margin-top: 70px; }
    .marketing .marketing-right p {
      font-size: 14px;
      text-transform: uppercase;
      color: #fc2121;
      opacity: 0.75; }
    .marketing .marketing-right h1 {
      font-size: 40px;
      color: #283742;
      margin: 15px 0 40px 0;
      font-family: SpaceGrotesk;
      line-height: 50px; }
    .marketing .marketing-right h6 {
      color: #283742;
      font-size: 16.8px; }
    .marketing .marketing-right .stage {
      font-size: 18px;
      color: #283742;
      text-transform: none; }
      .marketing .marketing-right .stage span {
        color: #000; }
    .marketing .marketing-right .estimate-bar {
      margin-top: 20px; }
      .marketing .marketing-right .estimate-bar p {
        color: #000;
        text-transform: none;
        font-size: 16.8px; }
      .marketing .marketing-right .estimate-bar .estimate-bar-icon {
        display: flex;
        margin-top: 10px; }
        .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-black {
          max-width: 205px; }
        .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-v {
          max-width: 65px; }
    .marketing .marketing-right .estimate-bottom {
      margin-top: 20px;
      color: #000;
      text-transform: none; }

.core-feature-section {
  background: #f5f7fd;
  padding: 90px 0; }

.core-feature {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  background: #283742;
  border-radius: 10px;
  margin: 0 212px;
  padding: 90px 108px; }
  .core-feature .settings .settings-top {
    font-size: 14px;
    text-transform: uppercase;
    color: #f9f9f9;
    opacity: 0.75; }
  .core-feature .settings h1 {
    font-family: SpaceGrotesk;
    font-size: 40px;
    color: #ffffff;
    margin: 12px 0 28px 0; }
  .core-feature .settings .reduc {
    font-size: 18px;
    color: #fc2121; }
  .core-feature .settings .leads {
    display: flex;
    margin-top: 30px;
    color: #ffffff; }
    .core-feature .settings .leads h3 {
      font-size: 40px; }
    .core-feature .settings .leads p {
      font-size: 16.8px; }
    .core-feature .settings .leads .leads-right {
      margin-left: 40px; }
  .core-feature .feature-header {
    font-family: SpaceGrotesk;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px; }
  .core-feature .feature-para {
    font-size: 16px;
    color: #fc2121;
    opacity: 0.75;
    margin-top: 10px; }
  .core-feature .expenses-bottom {
    margin-top: 105px; }
  .core-feature .savings-bottom {
    margin-top: 83px; }
  .core-feature .investments-bottom {
    margin-top: 83px; }
  .core-feature .savings,
  .core-feature .investments {
    margin-left: 40px; }
  .core-feature .feature-img img {
    height: 32px; }

.plan {
  background: #f5f7fd; }
  .plan .plan-top {
    text-align: center; }
    .plan .plan-top p {
      font-size: 14px;
      text-transform: uppercase;
      color: #283742;
      opacity: 0.75; }
    .plan .plan-top h1 {
      font-family: SpaceGrotesk;
      font-weight: bold;
      font-size: 40px;
      color: #283742;
      margin-top: 15px; }
  .plan .plan-mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    margin-top: 48px; }
    .plan .plan-mid .plan-mid-one {
      background: #ffffff;
      box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.02);
      border-radius: 10px;
      padding: 40px;
      line-height: 40px; }
      .plan .plan-mid .plan-mid-one .plan-name {
        font-family: SpaceGrotesk;
        font-weight: bold;
        font-size: 16.8px;
        color: #283742; }
      .plan .plan-mid .plan-mid-one .plan-budget {
        font-family: SpaceGrotesk;
        font-size: 72px;
        color: #283742;
        margin-top: 20px; }
      .plan .plan-mid .plan-mid-one .monthly {
        font-size: 13px;
        background: rgba(17, 17, 17, 0.08);
        border-radius: 3px;
        width: 69px;
        height: 36px;
        margin-top: 20px;
        text-align: center;
        color: #232226; }
      .plan .plan-mid .plan-mid-one .plan-description {
        line-height: 26px;
        color: #283742;
        margin-top: 15px; }
      .plan .plan-mid .plan-mid-one .plan-list {
        color: #283742; }
      .plan .plan-mid .plan-mid-one .plan-list2 {
        color: #283742;
        opacity: 0.75;
        margin-top: 35px; }
      .plan .plan-mid .plan-mid-one .plan-list3 {
        color: #6a696c; }
      .plan .plan-mid .plan-mid-one .plan-btn {
        margin-top: 20px;
        padding: 10px 20px; }
    .plan .plan-mid .plan-mid-two {
      background: #199bfc;
      box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.02);
      border-radius: 10px;
      padding: 40px;
      line-height: 40px;
      color: #fff; }
      .plan .plan-mid .plan-mid-two .plan-name {
        font-family: SpaceGrotesk;
        font-weight: bold;
        font-size: 16.8px; }
      .plan .plan-mid .plan-mid-two .plan-budget {
        font-family: SpaceGrotesk;
        font-size: 72px;
        margin-top: 20px; }
      .plan .plan-mid .plan-mid-two .monthly {
        font-size: 13px;
        background: rgba(17, 17, 17, 0.08);
        border-radius: 3px;
        width: 69px;
        height: 36px;
        margin-top: 20px;
        text-align: center; }
      .plan .plan-mid .plan-mid-two .plan-description {
        line-height: 26px;
        margin-top: 15px; }
      .plan .plan-mid .plan-mid-two .plan-list2 {
        opacity: 0.75;
        margin-top: 35px; }
      .plan .plan-mid .plan-mid-two .plan-btn2 {
        margin-top: 20px;
        padding: 10px 20px;
        background: #fff;
        color: #000; }
    .plan .plan-mid .plan-mid-three {
      background: #003cd3;
      box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.02);
      border-radius: 10px;
      padding: 40px;
      line-height: 40px;
      color: #ffffff; }
      .plan .plan-mid .plan-mid-three .plan-name {
        font-family: SpaceGrotesk;
        font-weight: bold;
        font-size: 16.8px; }
      .plan .plan-mid .plan-mid-three .plan-budget {
        font-family: SpaceGrotesk;
        font-size: 72px;
        margin-top: 20px; }
      .plan .plan-mid .plan-mid-three .monthly {
        font-size: 13px;
        background: rgba(17, 17, 17, 0.08);
        border-radius: 3px;
        width: 69px;
        height: 36px;
        margin-top: 20px;
        text-align: center; }
      .plan .plan-mid .plan-mid-three .plan-description {
        line-height: 26px;
        margin-top: 15px; }
      .plan .plan-mid .plan-mid-three .plan-list2 {
        opacity: 0.75;
        margin-top: 35px; }
      .plan .plan-mid .plan-mid-three .plan-btn3 {
        margin-top: 20px;
        padding: 10px 20px;
        background: #fff;
        color: #000; }
  .plan .plan-bottom {
    padding: 100px 0 86px 0;
    text-align: center; }
    .plan .plan-bottom p {
      color: #283742;
      line-height: 26px; }
    .plan .plan-bottom h4 {
      font-family: SpaceGrotesk;
      font-weight: bold;
      font-size: 26px;
      color: #283742;
      margin-top: 25px; }
  .plan .auto-renewal {
    position: absolute;
    margin-top: 50px;
    color: #283742;
    opacity: 0.75; }

.recent-news {
  height: 567px;
  padding: 0 212px 90px 212px;
  margin-top: 90px; }
  .recent-news .news-left-para {
    font-size: 14px;
    text-transform: uppercase;
    color: #283742;
    opacity: 0.75; }
  .recent-news .news-left-headings {
    font-family: SpaceGrotesk;
    font-weight: bold;
    font-size: 40px;
    color: #fc2121;
    margin-top: 15px; }
  .recent-news .news-left {
    padding-top: 0 !important;
    background-color: #fff !important; }
    .recent-news .news-left .news-btn {
      float: left !important;
      margin-top: 28px; }
  .recent-news .recent-news-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 42px;
    grid-gap: 40px; }
    .recent-news .recent-news-bottom .recent-news-bottom-card {
      background-color: #ffffff;
      max-width: 392px;
      height: 360px; }
      .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in {
        padding: 40px 40px 38px 40px;
        background: #f9f9f9; }
        .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter {
          display: flex; }
          .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter .writter-img img {
            width: 46px;
            height: 46px;
            border-radius: 50%; }
          .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter .writter-name {
            margin-left: 15px; }
            .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter .writter-name p {
              font-size: 15px;
              line-height: 18px;
              display: flex;
              align-items: center;
              color: #232226; }
              .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter .writter-name p b {
                margin-left: 4px; }
              .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .writter .writter-name p span {
                font-size: 14px; }
        .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .news p {
          font-size: 15px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #232226;
          margin-top: 40px; }
        .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .news h4 {
          font-family: SpaceGrotesk;
          font-size: 26px;
          line-height: 32px;
          display: flex;
          align-items: center;
          color: #17161a;
          margin-top: 10px; }
        .recent-news .recent-news-bottom .recent-news-bottom-card .recent-news-bottom-card-in .news span {
          color: blue;
          margin-right: 3px; }
      .recent-news .recent-news-bottom .recent-news-bottom-card .read-btn {
        align-items: center;
        text-align: center;
        display: flex;
        margin-top: 37px; }
        .recent-news .recent-news-bottom .recent-news-bottom-card .read-btn a {
          padding: 22px 22px 22px 0;
          text-decoration: none;
          font-family: SpaceGrotesk;
          font-size: 16.8px;
          line-height: 22px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #17161a;
          font-weight: 600; }
          .recent-news .recent-news-bottom .recent-news-bottom-card .read-btn a img {
            margin: 0 0 0 10px; }

.customer-reviews {
  text-align: center;
  background: #f5f7fd;
  padding: 90px 530px; }
  .customer-reviews .reviews-top {
    text-transform: uppercase;
    color: #283742;
    opacity: 0.75; }
  .customer-reviews .reviews-header {
    font-family: SpaceGrotesk;
    font-size: 40px;
    color: #283742;
    margin-top: 15px; }
  .customer-reviews .reviews-cata {
    display: flex;
    margin-top: 50px; }
    .customer-reviews .reviews-cata p {
      margin-left: 30px; }
    .customer-reviews .reviews-cata .reviews-cata-one {
      margin-left: 0 !important; }
  .customer-reviews .customer-img {
    margin-top: 45px; }
  .customer-reviews .customer-support {
    margin-top: 20px;
    font-weight: bold;
    line-height: 30px; }
    .customer-reviews .customer-support span {
      color: #283742;
      font-weight: normal; }
  .customer-reviews .customer-name {
    font-family: SpaceGrotesk;
    color: #283742;
    text-align: left;
    font-weight: bold;
    margin-top: 20px; }
  .customer-reviews .customer-desig {
    color: #283742;
    opacity: 0.75; }

.customers .customers-top {
  display: grid;
  padding: 105px 268px 105px 212px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  .customers .customers-top img {
    max-width: 120px;
    padding: 20px; }

.create-account {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #003cd3;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 212px;
  padding: 90px 90px 0 90px; }
  .create-account .create-account-left .acc-left-top {
    text-transform: uppercase;
    color: #f9f9f9;
    opacity: 0.75; }
  .create-account .create-account-left .acc-header {
    font-family: SpaceGrotesk;
    font-size: 40px;
    color: #ffffff;
    margin: 20px 0; }
  .create-account .create-account-left .acc-descrip {
    font-size: 18px;
    line-height: 28px;
    color: #f9f9f9; }
  .create-account .create-account-left .acc-btn {
    background-color: #000;
    padding: 20px 30px;
    margin-top: 25px; }

.vertical-line {
  display: flex;
  position: fixed;
  transform: rotate(-90deg);
  left: 0;
  top: 50%; }
  .vertical-line .theme {
    padding: 0 0px 120px 120px; }
    .vertical-line .theme span {
      border-radius: 70%;
      background: aqua; }

.minus-svg {
  margin-bottom: 5px; }

.lead-svg {
  margin: 0 0 -4px 10px; }

.footer {
  height: 100%;
  background: #ffffff; }
  .footer .footer-top {
    padding: 90px 212px 65px 212px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px; }
    .footer .footer-top .footer-top-social .footer-logo {
      height: 44px; }
    .footer .footer-top .footer-top-social p {
      font-weight: 500;
      font-size: 15.8px;
      line-height: 26px;
      display: flex;
      align-items: center;
      opacity: 0.4;
      margin: 33px 0 46px 0; }
    .footer .footer-top .footer-top-social .footer-top-social-icons {
      display: flex; }
      .footer .footer-top .footer-top-social .footer-top-social-icons .fb {
        width: 9px;
        height: 18px;
        position: absolute;
        margin: 11px 0 0 15px; }
      .footer .footer-top .footer-top-social .footer-top-social-icons .twt {
        width: 18px;
        height: 15px;
        margin-left: 34px;
        position: absolute;
        margin: 11px 0 0 20px; }
      .footer .footer-top .footer-top-social .footer-top-social-icons .insta {
        width: 18px;
        height: 18px;
        margin-left: 30px;
        position: absolute;
        margin: 11px 0 0 19px; }
  .footer .footer-bottom {
    padding: 24px 212px 0 212px;
    display: grid;
    grid-template-columns: 449px 289px;
    grid-column-gap: 518px; }
    .footer .footer-bottom p {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.01em;
      opacity: 0.8; }
  .footer .footer-divider img {
    width: 1275px;
    height: 1px;
    margin-left: 212px;
    opacity: 0.2; }

.circle-icon {
  opacity: 0.35;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.circle-icon-twt {
  opacity: 0.35;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px; }

.circle-icon-insta {
  opacity: 0.35;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px; }

.footer-top-address h5 {
  font-size: 15.8px;
  line-height: 26px;
  display: flex;
  align-items: center;
  opacity: 0.4; }
.footer-top-address p {
  font-size: 16.4px;
  line-height: 26px;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin: 25px 0 40px 0; }

.footer-top-Work-inquiries h5 {
  font-size: 15.8px;
  line-height: 26px;
  display: flex;
  align-items: center;
  opacity: 0.4; }
.footer-top-Work-inquiries p {
  font-size: 16.4px;
  line-height: 26px;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin: 25px 0 40px 0; }

.footer-top-subscription h5 {
  font-size: 15.8px;
  line-height: 26px;
  display: flex;
  align-items: center;
  opacity: 0.4; }
.footer-top-subscription .subscription-input {
  margin-top: 25px;
  display: flex;
  border: 0.5px solid #000;
  background: #f5f7fd; }
  .footer-top-subscription .subscription-input input {
    height: 50px;
    align-items: center;
    letter-spacing: -0.01em;
    opacity: 0.5;
    border-radius: 2px;
    padding-left: 15px;
    background: #f5f7fd;
    max-width: 280px;
    font-size: 14px;
    border: 0; }
  .footer-top-subscription .subscription-input a {
    position: relative;
    float: right;
    padding: 15px 30px 0 0;
    color: #000;
    font-size: 14px; }

@media only screen and (max-width: 1400px) {
  .main {
    padding: 0 100px; }

  .navbar .nav-items {
    display: none; }

  .navbar .show {
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    text-align: center;
    padding-top: 50px; }

  .navbar .show ul {
    display: block;
    top: 100px; }

  .navbar .show ul li {
    padding: 20px; }

  .navbar .show ul li a {
    color: #fff; }

  .register-btn {
    position: absolute;
    right: 40px; }

  .header-body .header-body-left h1 {
    font-size: 58px;
    line-height: 70px; }

  .core-feature {
    padding: 40px !important;
    margin: 0; }

  .sales-growth .sales-growth-in {
    padding: 100px; }

  .plan .plan-mid .plan-mid-one .plan-budget {
    font-size: 55px; }

  .plan .plan-mid .plan-mid-two .plan-budget {
    font-size: 55px; }

  .plan .plan-mid .plan-mid-three .plan-budget {
    font-size: 55px; }

  .plan .auto-renewal {
    font-size: 12px; }

  .recent-news {
    padding: 0 40px; }

  .customer-reviews {
    padding: 90px 100px; }

  .customers .customers-top {
    padding: 100px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); }

  .create-account {
    margin: 0; }

  .footer .footer-top {
    padding: 100px; }

  .footer .footer-bottom {
    padding: 40px 100px;
    grid-column-gap: 0; }

  .footer .footer-divider img {
    display: none; } }
@media only screen and (max-width: 991px) {
  .vertical-line {
    display: none; }

  .main {
    padding: 0 100px; }

  .header-body {
    grid-template-columns: 1fr; }

  .header-body .header-body-left h1 {
    font-size: 40px;
    margin-top: 16px;
    line-height: 45px; }

  .header-body .header-body-left h6 {
    margin-top: 30px; }

  .header-body .header-body-left p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 25px; }

  .header-body .header-body-left .email-input input {
    max-width: 250px; }

  .header-body .header-body-left .email-input {
    display: grid;
    padding-right: 20px; }

  .email-input-btn {
    font-size: 10px;
    height: 40px;
    width: 100px;
    margin-top: 10px; }

  .processes {
    grid-template-columns: 1fr;
    margin-top: 0; }

  .sales-growth {
    margin-top: 0; }

  .sales-growth .sales-growth-in {
    grid-template-columns: 1fr;
    padding: 40px 100px; }

  .sales-growth .sales-growth-in .sales-growth-left .sales-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px; }
    .sales-growth .sales-growth-in .sales-growth-left .sales-btn svg {
      width: 15px;
      height: 8px; }

  .sales-growth-right {
    margin-top: 30px; }

  .marketing {
    grid-template-columns: 1fr;
    margin: 0; }

  .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-black {
    max-width: 120px; }

  .marketing .marketing-right .estimate-bar .estimate-bar-icon .rect-v {
    max-width: 40px; }

  .core-feature-section {
    padding: 0; }

  .core-feature {
    grid-template-columns: 1fr;
    padding: 40px 100px;
    margin: 40px 0; }

  .expenses-top,
  .expenses-bottom,
  .savings-top,
  .savings-bottom,
  .investments-top,
  .investments-bottom {
    margin-top: 70px !important; }

  .core-feature .savings,
  .core-feature .investments {
    margin-left: 0; }

  .plan .plan-top {
    padding: 30px; }

  .plan .plan-mid {
    grid-template-columns: 1fr;
    margin-top: 0; }

  .plan .auto-renewal {
    position: relative;
    margin-top: 20px;
    line-height: 22px; }

  .plan .auto-renewal-font {
    color: #ffffff; }

  .plan .plan-mid .plan-mid-three .plan-budget {
    font-size: 50px; }

  .plan .plan-mid .plan-mid-two .plan-budget {
    font-size: 50px; }

  .plan .plan-mid .plan-mid-one .plan-budget {
    font-size: 50px; }

  .plan .plan-mid .plan-mid-one .plan-btn {
    padding: 0 10px;
    font-size: 10px; }
    .plan .plan-mid .plan-mid-one .plan-btn svg {
      width: 15px;
      height: 8px; }

  .plan .plan-mid .plan-mid-two .plan-btn2 {
    padding: 0 10px;
    font-size: 10px; }
    .plan .plan-mid .plan-mid-two .plan-btn2 svg {
      width: 15px;
      height: 8px; }

  .plan .plan-mid .plan-mid-three .plan-btn3 {
    padding: 0 10px;
    font-size: 10px; }
    .plan .plan-mid .plan-mid-three .plan-btn3 svg {
      width: 15px;
      height: 8px; }

  .plan .plan-bottom {
    padding: 40px; }

  .recent-news {
    padding: 0;
    margin-top: 0;
    height: 100%; }

  .recent-news .recent-news-bottom .recent-news-bottom-card {
    height: 100%;
    max-width: 100%; }

  .recent-news
  .recent-news-bottom
  .recent-news-bottom-card
  .recent-news-bottom-card-in {
    padding: 40px 100px; }

  .recent-news .recent-news-bottom {
    grid-template-columns: 1fr;
    margin-top: 42px;
    grid-gap: 10px; }

  .customer-reviews .customer-name {
    text-align: center; }

  .customer-reviews {
    padding: 40px; }

  .customer-reviews .reviews-cata {
    flex-direction: column; }

  .customer-reviews .reviews-cata p {
    margin-left: 0; }

  .customers .customers-top {
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); }

  .create-account {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 40px 100px; }

  .create-account .create-account-left .acc-descrip {
    font-size: 14px;
    line-height: 20px; }

  .create-account .create-account-left .acc-btn {
    padding: 10px;
    margin-top: 15px;
    font-size: 12px; }
    .create-account .create-account-left .acc-btn svg {
      width: 15px;
      height: 8px; }

  .footer .footer-bottom {
    padding: 40px 100px;
    grid-template-columns: 1fr;
    grid-column-gap: 0; }

  .footer .footer-top {
    padding: 40px 100px;
    grid-template-columns: 1fr; }

  .footer {
    height: 100%; }

  .footer-bottom-right {
    padding: 5% 0; }

  .footer .footer-top .footer-top-social p {
    margin: 5px 0 0 0; }

  .progress-img {
    grid-template-columns: 1fr; }

  .footer {
    height: 100%; }

  .footer .footer-divider img {
    width: 100%;
    margin-left: 0; }

  .footer-top-subscription .subscription-input {
    max-width: 250px; }

  .footer-top-subscription .subscription-input input {
    font-size: 10px; }

  .footer-top-subscription .subscription-input a {
    padding: 18px 0px 0 0;
    font-size: 10px; } }
@media only screen and (max-width: 768px) {
  .main {
    padding: 0 40px; }

  .footer .footer-bottom {
    padding: 40px; }

  .footer .footer-top {
    padding: 40px; }

  .sales-growth .sales-growth-in {
    padding: 40px; }

  .create-account {
    padding: 40px; }

  .core-feature {
    padding: 40px; }

  .recent-news
  .recent-news-bottom
  .recent-news-bottom-card
  .recent-news-bottom-card-in {
    padding: 40px; }

  .header-body .header-body-left h1 {
    line-height: 36px; }

  .sales-growth .sales-growth-in {
    grid-template-columns: 1fr; }

  .core-feature {
    grid-template-columns: 1fr;
    margin: 40px 0; }

  .plan {
    padding: 0 !important; }

  .register a {
    font-size: 12px; }

  .btn {
    height: 34px;
    width: 86px; }

  h1 {
    font-size: 36px !important; }

  h3,
  h4 {
    font-size: 20px !important; }

  p {
    font-size: 14px !important; }

  .processes {
    padding: 0 !important; }

  .leads h3 {
    font-size: 40px !important; }

  .customer-reviews {
    text-align: left; }

  .customer-reviews .customer-name {
    text-align: left; } }
@media only screen and (max-width: 400px) {
  .navbar .logo .logoicon {
    margin-left: 16px; }

  .navbar .logo .hamburger {
    margin-bottom: 0;
    height: 6px; }

  .footer .footer-bottom {
    padding: 40px; }

  .footer .footer-top {
    padding: 40px; }

  .sales-growth .sales-growth-in {
    padding: 40px; }

  .create-account {
    padding: 40px; }

  .core-feature {
    padding: 40px; }

  .recent-news
  .recent-news-bottom
  .recent-news-bottom-card
  .recent-news-bottom-card-in {
    padding: 40px; } }
@font-face {
  font-family: SpaceGrotesk;
  src: url(./../fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Basier-Circle;
  src: url(./../fonts/basier-cufonfonts-webfont/BasierCircle-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Playfair_Display;
  src: url(./../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
  font-weight: 500; }

/*# sourceMappingURL=style.css.map */
